<header class="header">
  <div class="header-wrapper">
	<div class="container">
	  <div class="row">
		<div class="col-lg-12 logo-box">
		  <div class="logo">
			<a href="index.html">
			<!--
			<img src="img/logo.svg" class="logo-img" alt=""> 
			<img src="img/spirit-owl.png" class="logo-img" alt="">
			-->
			<img src="/assets/fau-header-white.png" class="logo-img" alt="" width="500px">
			</a>
		  </div>
		</div><!-- .logo-box -->
		
		
		
	  </div><!--.row -->
	</div>

  </div><!-- .header-wrapper -->
  <div class="breadcrumb-box breadcrumb-none"></div>
</header><!-- .header -->