<div class="row">
		<div class="col-md-9 col-md-offset-1 box-container">


		<div class="alert alert-danger">
			 <ul>
				<h1>You are not authorized to view this content.</h1>				
			</ul>
		</div> 
</div>