<!-- <div class="container col-sm-12 col-md-12">
  <div class="col-sm-12 col-md-12 bottom-padding">

  	<section id="main">
  	 <header class="page-header">
        <div class="container">
          <h3 class="title">FTIC Module Availability</h3>
        </div>
     </header>
 -->
	<%= render 'form' %>

	<%#= link_to 'Show', @modules_available %> |
	<%#= link_to 'Back', ftic_modules_availables_path %>

	<!-- </section>

   </div>
 </div>
 -->